

        .ctrl_nav li > a > i {
            margin: 0 auto 10px;
        }

        .modal-dialog {
            margin: 90px auto;
        }

        .modal-article {
            padding: 0 10px;
            height: 400px;
            overflow-y: scroll;
        }

            .modal-article p {
                line-height: 180%;
                font-size: 16px;
                position: relative;
                padding-left: 50px;
            }

                .modal-article p em {
                    font-style: normal;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

            .modal-article img {
                display: block;
                width: 100%;
                margin: 10px auto 20px;
            }

        h1 {
            font-size: 18px;
            font-weight: normal;
        }

        .shop-guide-wrapper {
            width: 780px;
            margin: 0 auto;
        }

            .shop-guide-wrapper .mtitle, .shop-guide-wrapper .mbody {
                border: 1px solid #ECECEC;
            }

            .shop-guide-wrapper .mtitle {
                height: 85px;
                background-color: #F8F8F8;
                text-align: center;
                border-radius: 5px 5px 0 0;
                box-shadow: inset 0 0 10px #ECECEC;
            }

            .shop-guide-wrapper .mbody {
                height: 332px;
                border-top: 0;
                border-radius: 0 0 5px 5px;
                position: relative;
            }

            .shop-guide-wrapper .stepInsts {
                width: 770px;
                padding-top: 18px;
                margin: 0 auto;
            }

                .shop-guide-wrapper .stepInsts .stepShow {
                    height: 25px;
                    background-image: url(images/guide-step-sprite.png);
                    background-repeat: no-repeat;
                }

                .shop-guide-wrapper .stepInsts ul {
                    *zoom: 1;
                    margin-left: 97px;
                }

                    .shop-guide-wrapper .stepInsts ul:before, .shop-guide-wrapper .stepInsts ul:after {
                        display: table;
                        content: " ";
                        line-height: 0;
                    }

                    .shop-guide-wrapper .stepInsts ul:after {
                        clear: both;
                    }

                    .shop-guide-wrapper .stepInsts ul li {
                        width: 96px;
                        height: 18px;
                        padding: 9px 0;
                        font-size: 14px;
                        color: #68676C;
                        line-height: 18px;
                        text-align: center;
                        float: left;
                    }

                        .shop-guide-wrapper .stepInsts ul li.past {
                            color: #333;
                        }

                        .shop-guide-wrapper .stepInsts ul li.finish {
                            color: #C00;
                        }

            .shop-guide-wrapper .step-0 .stepShow {
                background-position: center 0;
            }

            .shop-guide-wrapper .step-1 .stepShow {
                background-position: center -25px;
            }

            .shop-guide-wrapper .step-2 .stepShow {
                background-position: center -50px;
            }

            .shop-guide-wrapper .step-3 .stepShow {
                background-position: center -75px;
            }

            .shop-guide-wrapper .step-4 .stepShow {
                background-position: center -100px;
            }

            .shop-guide-wrapper .step-5 .stepShow {
                background-position: center -125px;
            }

            .shop-guide-wrapper .step-6 .stepShow {
                background-position: center -150px;
            }

            .shop-guide-wrapper .step-7 .stepShow {
                background-position: center -175px;
            }

            .shop-guide-wrapper .step-8 .stepShow {
                background-position: center -200px;
            }

            .shop-guide-wrapper .center-btn-wrapper {
                text-align: center;
                margin-top: 50px;
            }

            .shop-guide-wrapper .corner-btn-wrapper {
                position: absolute;
                right: 45px;
                bottom: 20px;
            }

            .shop-guide-wrapper .inner-content {
                padding: 15px 45px 0;
            }

                .shop-guide-wrapper .inner-content .content {
                    padding-left: 70px;
                    height: 178px;
                    overflow-y: auto;
                }

            .shop-guide-wrapper .centered-content {
                padding: 60px 0 0;
                text-align: center;
            }

            .shop-guide-wrapper .mtitle h1 {
                text-align: center;
                margin: 30px 0 0;
            }

            .shop-guide-wrapper .mbody .stepInsts {
                padding-top: 44px;
            }

        .web_preview li {
            display: block;
            width: 37%;
            margin: 0 12px;
            float: left;
            vertical-align: top;
        }


.sidebar {
    min-height: 427px;
}
